.book_details {
  display: flex;
  flex-direction: row;
  max-width: 1230px;
  background-color: #ffffff;
  border-radius: 16px;
}

.book_details-content {
  display: flex;
  flex-direction: column;
}

.book_details-img {
  width: 300px;
  height: 450px;
  margin-right: 33px;
}

.book_details-name {
  font-weight: 700;
  font-size: 40px;
  padding: 24px 0 12px;
}

.book_details-author {
  font-weight: 600;
  font-size: 24px;
  padding: 0 0 24px 0;
  color: #ff5d4f;
}

.book_details-length {
  font-weight: 400;
  font-size: 18px;
  padding: 0 0 19px 0;
  color: #616161;
}

.book_details-about {
  font-weight: 700;
  font-size: 28px;
  padding: 58px 0 16px 0;
}

.book_details-description {
  font-weight: 400;
  font-size: 16px;
  padding: 0 0 16px 0;
}

@media screen and (max-width: 850px) {
  .book_details-img {
    width: 245px;
    height: 373px;
  }

  .book_details-name {
    font-size: 26px;
    padding: 0px 0 6px;
  }

  .book_details-author {
    font-size: 18px;
    padding: 0 0 15px 0;
  }

  .book_details-about {
    font-size: 18px;
    padding: 11px 0 11px 0;
  }

  .btn_order {
    width: 110px;
    height: 30px;
    font-size: 11px;
  }

  .book_details-description {
    font-size: 14px;
    padding: 0 0 10px 0;
  }
}

@media screen and (max-width: 850px) {
  .book_details-img {
    width: 160px;
    height: 248px;
  }
}

@media screen and (max-width: 550px) {
  .book_details {
    flex-direction: column;
  }
}
