.logo_icon {
    width: 63%;
    max-height: 32px;
    margin-right: 20px;
}

.header_form{
    width:81%
}

.search_icon {
    position: absolute;
    top: 38%;
    right: 72%;
    height: 18px;
    width: 18px;
}

.input_search {
    outline:none;
    /*width: 77%;*/
    height: 48px;
    border: 2px solid #B5B5B5;
    border-radius: 8px;
}

.input_search:focus{
    border: 2px solid #FF5D4F;
}

input[type='search']{
    padding-left: 50px;
    font-size: 18px;
}

.input_search::placeholder {
    padding-left: 15px;
    color: #b5b5b5;
    font-size: 16px;
}

.wrapper_logo_searchBlock {
    display: flex;
    width: 62%;
    justify-content: space-between;
}

.wrapper_logo_searchNone {
    display: none;
}