.wrapper_settingsBlock {
  position: absolute;
  left: 80%;
  top: 8%;
  width: 169px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 18px;
  z-index: 1;
}

.wrapper_settingsNone {
  display: none;
}

.settings_menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.settings_user-name {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 20px;
}

.settings_item {
  font-weight: 400;
  font-size: 16px;
  color: #616161;
  padding-bottom: 13px;
}

.settings_item a{
  color: #616161;
}

hr {
  border: 1px solid rgba(181, 181, 181, 0.6);
  margin-bottom: 10px;
}

.wrapper_logout {
  display: flex;
  justify-content: center;
}

.logout {
  font-weight: 600;
  font-size: 16px;
  color: #616161;
}

.logout a {
  color: #616161;
}

.settings_user-name a:hover,
.logout a:hover,
.settings_item a:hover {
  color: #ff5d4f;
}

.settings_user-name,
.logout,
.settings_item {
  cursor: pointer;
}
