.logo_icon {
  width: 174px;
  max-height: 32px;
  margin-right: 20px;
}

.wrapper_search {
  position: relative;
}

.header_form {
  width: 498px;
}

.search_icon {
  position: absolute;
  top: 26%;
  right: 92%;
  height: 18px;
  width: 18px;
}

.input_search {
  outline: none;
  height: 48px;
  border: 2px solid #b5b5b5;
  border-radius: 8px;
}

.input_search:focus {
  border: 2px solid #ff5d4f;
}

input[type='search'] {
  padding-left: 50px;
  font-size: 18px;
}

.input_search::placeholder {
  padding-left: 15px;
  color: #b5b5b5;
  font-size: 16px;
}

.wrapper_logo_searchBlock {
  display: flex;
  justify-content: space-between;
  width: 765px;
}

.wrapper_logo_searchNone {
  display: none;
}

@media screen and (max-width: 1290px) {
  .wrapper_logo_searchBlock {
    width: 660px;
  }

  .header_form {
    width: 450px;
  }
}

@media screen and (max-width: 1290px) {
  .wrapper_logo_searchBlock {
    width: 660px;
  }

  .header_form {
    width: 450px;
  }
}

@media screen and (max-width: 1180px) {
  .wrapper_logo_searchBlock {
    width: 550px;
  }

  .header_form {
    width: 350px;
  }
}

@media screen and (max-width: 1064px) {
  .wrapper_logo_searchBlock {
    width: 313px;
  }

  .logo_icon {
    width: 152px;
  }

  .header_form {
    width: 315px;
    margin-top: 10px;
  }

  .input_search {
    height: 41px;
  }

  .search_icon {
    top: 23%;
    right: 90%;
    height: 14px;
    width: 14px;
  }

  input[type='search'] {
    font-size: 10px;
  }

  .nav_headerBlock {
    font-size: 16px;
  }

  .nav_loginBlock {
    font-size: 16px;
  }

  .wrapper_logo_searchBlock {
    flex-direction: column;
  }
}

@media screen and (max-width: 530px) {
  .header_form {
    width: 241px;
  }

  .input_search::placeholder {
    font-size: 12px;
  }

  .input_search {
    height: 37px;
  }

  input[type='search'] {
    padding-left: 14px;
    font-size: 16px;
  }
}
