@import 'fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  color: #383838;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;

}

a {
  text-decoration: none;
}

.nav_list {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 30px 105px;
  max-width: 1440px;
  /*background-color: #ffffff;*/
  /*z-index: 0;*/
}

/*.btn {*/
/*  cursor: pointer;*/
/*  border: 0;*/
/*  background-color: #ff5d4f;*/
/*  border-radius: 8px;*/
/*  color: #ffffff;*/
/*  font-size: 24px;*/
/*  height: 48px;*/
/*  width: 100%;*/
/*  margin-top: 24px;*/
/*}*/




