header {
  width: 100%;
  /*position: relative;*/
  color: #616161;
}

.header_container {
  min-height: 142px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /*position: relative;*/
}

.menu_iconBlock,
.menu_close-iconBlock {
  display: none;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 3%;
  right: 10%;
}

@media screen and (max-width: 720px) {
  .nav_headerBlock {
    display: none;
  }

  .menu_iconBlock {
    display: block;
  }
}



