.main_containerBlock {
    display: block;
    margin: 0 auto;
    min-height: 790px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1230px, 495px;
    width: 100%;
}

.main_containerNone {
    display: none;
}

.main_img {
    max-width: 100%;
    min-height: 494px;
}

.maim_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 100px;
    width: 390px;
    padding-left: 80px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 40px;
}

.main_content-text {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 51px;
}

.main_btn {
    width: 185px;
    font-size: 20px;
    margin-top: 0;
    color: #FFFFFF;
}

.main_btn a{
    color: #FFFFFF;
}