.wrapper_settings-account {
  width: 394px;
  height: 730px;
  display: flex;
  flex-direction: column;
  /*padding: 26px 37px 21px;*/
}

.settings_container {
  width: 394px;
  height: 750px;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #ffffff;
  border-radius: 8px;
}

.settings_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper__input--settings {
  margin: 21px auto 32px;
  /*display: flex; *!*/
  /*flex-direction: column;*/
}

.wrapper__input--settings .input__email-settings {
  margin-bottom: 16px;
}

.photo_icon {
  width: 81px;
  height: 81px;
  margin-bottom: 32px;
}

.btn_save {
  width: 119px;
  height: 33px;
  font-size: 16px;
  margin: 15px auto;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 17px;
    padding: 18px 32px;
  }

  .photo_icon {
    width: 68px;
    height: 58px;
    margin-bottom: 16px;
  }

  .wrapper__input--value {
    width: 258px;
  }

  .settings_container {
    width: 359px;
    height: 639px;
  }

  .wrapper_settings-account {
    width: 363px;
  }

  input {
    height: 38px;
  }

  label {
    font-size: 13px;
  }
}
