.container_backgroundBlock {
  display: block;
  width: 100%;
  height: 900px;
  position: absolute;
  z-index: 1;
  background-color: rgba(181, 181, 181, 0.8);
}

.container_backgroundNone {
  display: none;
}

.container_sign {
  margin: 120px auto;
  width: 384px;
  min-height: 369px;
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-radius: 8px;
}

.title__sign {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  width: 285px;
  margin: 40px auto;
  color: #000000;
}

.wrapper__input--value {
  width: 320px;
  margin: 39px auto 32px;
  display: flex;
  flex-direction: column;
}

label {
  color: #616161;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

input {
  width: 100%;
  margin-bottom: 16px;
  height: 44px;
  border: 2px solid #b5b5b5;
  border-radius: 8px;
}

.login input, .signupBlock input{
  padding-left: 20px;
  font-size: 18px
}

/*.wrapper__input--value .login .input_username:focus,*/
/*.input_birthdate:focus,*/
/*.input_email:focus,*/
/*.input__password:focus,*/
/*.input__password:focus{*/
/*  border: 2px solid #FF5D4F;*/
/*}*/

.input__email {
  margin-bottom: 30px;
}



.close_icon {
  position: absolute;
  width: 16px;
  bottom: 75%;
  right: 39%;
}

.btn__sign--up a{
  color:#FFFFFF;
}